<p id="notice"><%= notice %></p>

<h1>Gastos</h1>

<%= link_to 'Novo Gasto', new_gasto_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Dt gasto</th>
      <th>Tipo gasto</th>
      <th>Valor</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gastos.each do |gasto| %>
      <tr>
        <td><%= gasto.dtgasto
         %></td>
        <td><%= gasto.tipo_gasto.descricao %></td>
        <td><%= gasto.valor %></td>
        <td><%= gasto.obs %> </td>
        <td><%= link_to 'Show', gasto %></td>
        <td><%= link_to 'Editar', edit_gasto_path(gasto) %></td>
        <td><%= link_to 'Excluir', gasto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
