<%= form_with(model: tipo_gasto, local: true) do |form| %>
  <% if tipo_gasto.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(tipo_gasto.errors.count, "error") %> prohibited this tipo_gasto from being saved:</h2> -->

      <ul>
      <% tipo_gasto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :tipo_gasto_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
