<!DOCTYPE html>
<html>
  <head>
    <title>Gastos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <ul>
      <li><%= link_to 'Principal', root_path %></li>
      <li><%= link_to 'Gastos', gastos_path %></li>
      <li><%= link_to 'Tipo Gasto', tipo_gastos_path %></li>
      <li><%= link_to 'Tipo Receita', tipo_receita_path %></li>
      <li><%= link_to 'Receitas', receita_path %></li>
      <li><%= link_to 'Consulta Por Mes', consulta_por_mes_path %></li>
      <li><%= link_to 'Consulta Por Ano', consulta_por_ano_path %></li>
      <li><%= link_to 'Consulta Receita Despesa', consulta_receita_despesa_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
